In [13]:
# Q-1List any five functions of the pandas library with execution.
data={"swadhin":(2,0,3),
     "jyoti":(1,8,9),
     "gugu":(1,4,3)}
import pandas as pd
pd.Series(data)
df=pd.DataFrame(data)
df[["swadhin"]]
df.columns
df["jyoti"]
df["new"]=df["swadhin"]+df["jyoti"]
df

   swadhin  jyoti  gugu  new
0        2      1     1    3
1        0      8     4    8
2        3      9     3   12

In [ ]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd

def reindex_df(df):
    new_index = pd.Index(range(1, len(df)*2, 2))
    df = df.set_index(new_index)
    return df

In [44]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.
import pandas as pd

def calculate_sum(df):
    values_sum = 0
    for i, row in df.iterrows():
        if i < 3:
            values_sum += row['Values']
        else:
            break
    print("The sum of the first three values in the 'Values' column is:" ,values_sum)

In [46]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
df['word_count'] = df['desc'].apply(lambda x : len(x.split()))

Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans:DataFrame.size() and DataFrame.shape() are both methods used in Pandas to obtain information about the DataFrame. However, they return different values and have different meanings.

DataFrame.size() returns the total number of elements in the DataFrame. It is equivalent to the product of the number of rows and the number of columns. For example, if a DataFrame has 5 rows and 3 columns, DataFrame.size() will return 15.

On the other hand, DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame. For example, if a DataFrame has 5 rows and 3 columns, DataFrame.shape() will return (5, 3).

Q6. Which function of pandas do we use to read an excel file?
Ans:The function used to read an Excel file in Pandas is read_excel(). This function is part of the pandas module, and can be called by importing the module and using the function with the appropriate parameters.

In [52]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
import pandas as pd
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

In [71]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
# For example, if df contains the following values:
# A B C
# 0 3 5 1
# 1 8 2 7
# 2 6 9 4
# 3 2 3 5
# 4 9 1 2
# Your function should select the following rows: A B C
# 1 8 2 7
# 4 9 1 2
# The function should return a new DataFrame that contains only the selected rows.
data={"A":(0,1,2,3,4),
     "B":(3,8,6,2,9)}
df=pd.DataFrame(data)
df["new"]=df["A"].apply(lambda x: x>5)
d

df

   A  B    new
0  0  3  False
1  1  8  False
2  2  6  False
3  3  2  False
4  4  9  False

In [74]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

import pandas as pd

def calculate_stats(df):
    values_mean = df['Values'].mean()
    values_median = df['Values'].median()
    values_std = df['Values'].std()
    stats_df = pd.DataFrame({'Mean': [values_mean], 'Median': [values_median], 'Standard Deviation': [values_std]})
    return stats_df

In [ ]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.
import pandas as pd

def add_moving_average(df):
    window_size = 7
    rolling_mean = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    df['MovingAverage'] = rolling_mean
    return df

In [ ]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.weekday_name
    return df

In [ ]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

 Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
Ans:The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. This imports the pandas library and gives it an alias pd, which is the common convention in the Python community. By using this alias, you can access all the functions and classes provided by pandas, such as DataFrame, Series, read_csv(), read_excel(), and many others.